/*ESTILO GERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000;
  height: 100vh;
}
.interface {
  max-width: 1280px;
  margin: auto;
}
.flex {
  display: flex;
}
.btn-contato button {
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 600;
  background-color: #ca85bf;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}
h2.titulo {
  color: #fff;
  font-size: 38px;
  text-align: center;
}
h2.titulo span {
  color: #ca85bf;
}

button:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px #ca85bf;
  transform: scale(1.05);
}
/* ESTILO DO CABEÇALHO*/

header {
  padding: 40px 4%;
}
header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  height: 90px;
  width: 90px;
  border-radius: 30px;
  box-shadow: 0px 0px 8px #ca85bf;
}

header a {
  color: #999898;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}
header a:hover {
  color: #fff;
  transform: scale(1.05);
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

/* ESTILO DO TOPO DO SITE*/

section.topo-do-site {
  padding: 40px 4%;
}
section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.topo-do-site h1 {
  color: #fff;
  font-size: 39px;
  line-height: 60px;
}
.topo-do-site .txt-topo-site h1 span {
  color: #ca85bf;
  font-size: 40px;
}
.topo-do-site .txt-topo-site p {
  color: #fff;
  margin: 50px 0;
  text-align: auto;
}
.topo-do-site.img-topo-site img {
  max-width: 200px;
  max-height: 200px;
}
.img-topo-site .eu {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
  box-shadow: 0px 0px 8px #ca85bf;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/* ESTILOS DAS ESPECIALIDADES*/
section.especialidades {
  padding: 100px 4%;
}
section.especialidades .flex {
  gap: 60px;
}
.especialidades .especialidades-box {
  color: #fff;
  padding: 40px;
  border-radius: 25px;
  margin-top: 45px;
  transition: 0.2s;
}
.especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px #fff;
}
.especialidades .especialidades-box i {
  font-size: 60px;
  color: #ca85bf;
}
.especialidades .especialidades-box h3 {
  font-size: 28px;
  margin: 15px 0;
}
/*ESTILO DO SOBRE*/
section.sobre {
  padding: 100px 4%;
}
.img-sobre {
  width: 400px;
  height: 400px;
  border-radius: 500px;
  box-shadow: 0px 0px 8px;
}
.sobre .txt-sobre {
  color: #fff;
}
.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}
.sobre .txt-sobre h2 span {
  color: #ca85bf;
  display: block;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}
.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}
.btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #ca85bf;
  font-size: 22px;
  cursor: pointer;
  margin: 0 5px;
  transition: 0.2s;
}
/* ESTILO DO PORTIFÓLIO*/
section.portfolio {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px #afa5a536;
}
section.portfolio .flex {
  gap: 80px;
  margin-top: 60px;
}

.img-port {
  width: 360px;
  height: 460px;
  background-size: cover;
  background-position: 100% 0%;
  transition: 8s;
  cursor: pointer;
  border-radius: 40px;
  position: relative;
}
.img-port:hover {
  background-position: 100% 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0f0f0fa4;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  transition: 0.5s;
}
.overlay:hover {
  opacity: 1;
}
/* ESTILO DO FORMULARIO*/
section.formulario {
  padding: 80px 4%;
}
form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}
form input,
form textarea {
  width: 100%;
  background-color: #31313138;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
}
form input::placeholder {
  color: #ca85bf;
}
form textarea {
  resize: none;
  max-height: 200px;
}
form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}
form .btn-enviar input {
  width: 120px;
  background-color: #ca85bf;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
/* ESTILO DO RODAPÉ */
footer {
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px #afa5a536;
}
footer .flex {
  justify-content: space-between;
}
footer .line-footer {
  padding: 20px 0;
}
.borda {
  border-top: 2px solid #ca85bf;
}
footer .line-footer p i {
  color: #ca85bf;
  font-size: 22px;
}
footer .line-footer p a {
  color: #fff;
}
footer .logo-footer {
  height: 80px;
  width: 80px;
  display: flex;
  border-radius: 50%;
  box-shadow: 0px 0px 8px #ca85bf;
}

@media screen and (max-width: 1000px) {
  /* CLASSE GERAIS */
  .flex {
    flex-direction: column;
  }
  h2.titulo {
    font-size: 34px;
    line-height: 30px;
  }
  .topo-do-site .flex {
    flex-direction: column-reverse;
  }
  /* CABEÇALHO */
  .menu-desktop,
  .btn-contato {
    display: none;
  }
  /* TOPO DO SITE */
  section.topo-do-site .flex {
    gap: 40px;
  }
  section.topo-do-site {
    padding: 20px 8%;
  }
  .topo-do-site h1 {
    font-size: 30px;
  }
  .topo-do-site.img-topo-site img {
    width: 100%;
  }
  /*ESPECIALIDADES*/
  section.especialidades {
    padding: 40px 8%;
  }
  /*SOBRE*/
  section.sobre {
    padding: 80px 8%;
  }
  .sobre .txt-sobre h2 {
    font-size: 34px;
    line-height: 35px;
    text-align: center;
  }
  .btn-social {
    text-align: center;
  }
  .img-sobre img {
    width: 100%;
  }
  /* PORTIFÓLIO*/
  section.portifolio {
    padding: 80px 8%;
  }
  .img-port {
    width: 100%;
    max-width: 360px;
    display: block;
    margin: 0 auto;
  }
  section.portifolio .flex {
    gap: 60px;
  }
  /*RODAPÉ*/
  footer .flex {
    flex-direction: column;
    gap: 25px;
  }
  footer .line-footer {
    text-align: center;
  }
  footer .logo-footer {
    width: 100%;
    height: 50%;
    position: fixed;
  }
}
